<div class="dashboard-content">
   <div class="col-lg-12 col-md-12 mb-4">
      <div class="card">
         <div class="db-tile">
            <h4>All exercises</h4>
         </div>
         <div class="dashboard-list-box table-responsive invoices with-icons">
            <table class="table table-hover">
               <caption>Followed plan exercises</caption>
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Description</th>
                     <th>Date</th>
                     <th>State</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody *ngFor="let exercise of Data">
                  <tr>
                     <td>{{exercise.title}}</td>
                     <td>{{exercise.text}}</td>
                     <td>{{exercise.time | date: "MMMM dd"}}</td>
                     <td *ngIf="exercise.state == 'Failed'"><span class="badge badge-pill badge-danger text-uppercase">{{exercise.state}}</span></td>
                     <td *ngIf="exercise.state == 'Success'"><span class="badge badge-pill badge-success text-uppercase">{{exercise.state}}</span></td>
                     <td *ngIf="exercise.state == 'Incomplete'"><span class="badge badge-pill badge-primary text-uppercase">{{exercise.state}}</span></td>
                     <td *ngIf="exercise.state != 'Success'"><button class="btn btn-sm btn-primary" (click)="UpdateState(exercise.trackerId)" type="button">Complete</button></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

