<div id="footer" class="sticky-footer bg-primary pt-5">
   <!-- Main -->
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-6">
            <img class="footer-logo" src="assets/images/logo-white.png" alt="">
            <br><br>
            <p class="text-white">This website was made to help users find their desired sport plan. Our goal is to make community where users can find help regarding sport or find like minded people.</p>
         </div>
      </div>
      <!-- Copyright -->
      <div class="row">
         <div class="col-md-12">
            <div class="copyrights text-white">© 2022 GiveATry. All Rights Reserved.</div>
         </div>
      </div>
   </div>
</div>

