
<div class="p2">
    <h1>Hi {{currentUser.email}}!</h1>
</div>
<div class="card-header" style="text-align:center">  
    <b>Calendar</b>  
    <app-calendar></app-calendar>
</div>  
<div class="card-header" style="text-align:center">  
    <b>Private Sport Plans</b>  
</div>  
<div class="card-footer">  
    <div class="col-lg-12 table-responsive">  
        <table class="table table-striped">  
            <thead>  
                <tr>   
                    <th>Plan Name</th>  
                    <th>Description</th> 
                    <th></th>  
                </tr>  
            </thead>  
            <tbody>  
                <tr *ngFor="let Plan of filteredPlans"> 
                        <td>{{Plan.name}}</td>  
                        <td>{{Plan.description}}</td> 
                        <td>  
                            <button type="button" class="btn btn-primary mr-2" (click)="ShowExercises(Plan)">Show</button> 
                            <button type="button" class="btn btn-primary mr-2" (click)="CopyPlan(Plan)">Copy</button> 
                        </td>
                        <td *ngIf="IsUserPlan(Plan);else other_content" >
                            <button type="button" class="btn btn-primary mr-1" (click)="EditPlan(Plan.id)">Edit</button>  
                            <button type="button" class="btn btn-danger mr-1" (click)="DeletePlan(Plan.id)">Delete</button>  
                        </td>  
                        <ng-template #other_content><td></td></ng-template>
                </tr>  
            </tbody>  
        </table>  
    </div>  
</div>  