<div class="db-admin">
   <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
         <ul data-submenu-title="Main">
            <li class="active"><a [routerLink]="['/admin/dashboard']"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li><a [routerLink]="['/admin/messages']"><i class="fa fa-inbox"></i> Messages</a></li>
            <li><a [routerLink]="['/admin/bookmarks']"><i class="fa fa-bookmark"></i> Bookmarks</a></li>
         </ul>
         <ul data-submenu-title="Exercises" *ngIf="user_role === 'Worker' || user_role === 'Admin'">
            <li><a [routerLink]="['/admin/exercises']"><i class="fa fa-calendar-check-o"></i> My Exercises</a></li>
            <li><a [routerLink]="['/admin/add-exercise']"><i class="fa fa-calendar-plus-o"></i> Add Exercise</a></li>
         </ul>
         <ul data-submenu-title="Plans" *ngIf="user_role === 'Worker' || user_role === 'Admin'">
            <li><a [routerLink]="['/admin/plans']"><i class="fa fa-calendar-check-o"></i> My Plans</a></li>
            <li><a [routerLink]="['/admin/reviews']"><i class="fa fa-star"></i> Reviews</a></li>
            <li><a [routerLink]="['/admin/add-plan']"><i class="fa fa-calendar-plus-o"></i> Add Plan</a></li>
         </ul>
         <ul data-submenu-title="Users" *ngIf="user_role === 'Admin'">
            <li><a [routerLink]="['/admin/users']"><i class="fa fa-users"></i> Users</a></li>
         </ul>
         <ul data-submenu-title="Account">
            <li><a [routerLink]="['/admin/profile']"><i class="fa fa-user"></i> My Profile</a></li>
            <li><a [routerLink]="['/admin/progress']"><i class="fa fa-tasks"></i> My Progress</a></li>
            <li><a [routerLink]="['/admin/settings']"><i class="fa fa-cogs"></i> Settings</a></li>
            <li><a [routerLink]="" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
         </ul>
      </div>
   </div>
</div>
<a class="db-trigger" (click)="toggleMenu()">
<i class="fa fa-reorder"></i>
</a>

