<div class="dashboard-content">
   <form [formGroup]="FromExercise" (ngSubmit)="UpdateId();CreateExercise(FromExercise.value)">  
      <div class="row">
         <div class="col-lg-12">
            <div id="add-listing">
               <!-- Section -->
               <div class="add-listing-section mb-4">
                  <!-- Headline -->
                  <div class="add-listing-headline">
                     <h3> Basic Informations</h3>
                  </div>
                  <!-- Title -->
                  <div class="row with-forms">
                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" formControlName="Title" id="company" [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" placeholder="Exercise Title" class="form-control form-control-alternative">
                           <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                              <div *ngIf="f.Title.errors.required">Exercise Title is required</div>
                          </div>
                        </div>
                     </div>
                  </div>
                  <!-- Row -->
                  <div class="row with-forms">
                     <!-- Type -->
                     <div class="col-md-6">
                        <div class="form-group">
                        </div>
                     </div>
                  </div>
                  <!-- Row / End -->
               </div>
               <!-- Section / End -->
               <!-- Section -->
               <div class="add-listing-section mb-4">
                  <!-- Headline -->
                  <div class="add-listing-headline">
                     <h3> Details</h3>
                  </div>
                  <div class="form">
                     <textarea class="form-control form-control-alternative" formControlName="Text" id="Text"[ngClass]="{ 'is-invalid': submitted && f.Text.errors }" placeholder="Text" id="exampleFormControlTextarea1" rows="3"></textarea>
                     <div *ngIf="submitted && f.Text.errors" class="invalid-feedback">
                        <div *ngIf="f.Text.errors.required">Exercise Description is required</div>
                    </div> 
                  </div>
               </div>
               <!-- Section / End -->
               <button type="submit" class="btn btn-primary" >Create <em class="fa fa-arrow-circle-right"></em></button> 
            </div>
         </div>
         <!-- Copyrights -->
         <div class="col-md-12">
            <div class="copyrights">© 2021 DirectList. All Rights Reserved.</div>
         </div>
      </div>
   </form>
</div>

